{% extends "base.html" %}
{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row d-flex justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Add User</h6>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <br>
            <button type="submit" class="btn btn-info">Register</button>
          </form>

      </div>
    </div>
  </div>

{% endblock content %}  